<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0.50727" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <Language>zh_CN</Language>
    <AutoUpdate>true</AutoUpdate>
    <UpdateLocation>https://raw.githubusercontent.com/JoeLiu2015/Files/master/ASN1Viewer/</UpdateLocation>
    <ASN1ViewerMT> 20210102120000</ASN1ViewerMT>
    <ASN1ModulesMT>20210102120000</ASN1ModulesMT>
    <MaxHistoryCount>15</MaxHistoryCount>
    <History></History>
  </appSettings>
</configuration>